section
  height: 100vh
  
.hero
  background: #242828
  width: 100%
  // position: 
  
  div
    position: absolute
    height: 100%
    width: 100%

  .background
    background: #242828 url('/css/res/img/background.png') bottom no-repeat
  
  .foreground
    background: url('/css/res/img/foreground.png') bottom no-repeat
  
  .text
    position: fixed
    background: url('/css/res/img/text.png') center no-repeat


.intro
  background: yellow